<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= user.username %>'s PanTracker</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <%- include('../partials/_navbar') %>

  <div class="container">
    <h1 id="title"><%= user.username %>'s PanTracker</h1>

    <% if (user.task.length > 0) { %>
      <ul class="taskList">
        <% user.task.forEach(task => { %>
          <li class="taskItem">
            <p>Date: <%= task.date %></p>
            <p>Time: <%= task.time %></p>
            <p>Task: <%= task.note %></p>
            <p>Complete: <%= task.isComplete ? 'Yes' : 'No' %></p>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p class="emptyMessage">This user has no tasks yet!</p>
    <% } %>
  </div>
</body>
</html>
